modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mobile: expo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mockup-sandbox: Component Preview Server"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "artifacts/mobile: expo"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18115 pnpm --filter @workspace/mobile run dev"
waitForPort = 18115

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8081 pnpm --filter @workspace/mockup-sandbox run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
RAILWAY_TOKEN = "c77004e4-bca1-40c1-819a-f3f7b66526b7"
AI_PROXY_SECRET = "9da2923a9adfe2f35282663d5eca843a8cbc9880bf803e4e0cd1a526910af866"
